In [32]:
import requests 
import pandas as pd

In [33]:
API_KEY = "YOUR API KEY" 
BASE_URL = 'https://api.themoviedb.org/3/movie/'

In [73]:
#retrive list of 100 top rated films TMDB version
def get_top_rated():
    response_list=[]
    for i in range(1,6):
        response = requests.get(BASE_URL + 'top_rated?api_key=' + API_KEY + '&page='+str(i)).json()  
        response_list.append(response)
    return response_list

In [82]:
# define column names for our new dataframe
columns = ['Top rated film', 'Numbers of males', 'Number of females', 'Non-binary', 'Not specified','Budget','Revenue','Vote average','Vote Count','Popularity','Genre','Runtime']
# create dataframe with film and gender
df = pd.DataFrame(columns=columns)
response_list = get_top_rated()
for response in response_list: 
    top_rated_films = response['results']
    for film in top_rated_films:
            film_top = requests.get(BASE_URL + str(film['id']) +'/credits?api_key='+ API_KEY).json()
            film_details = requests.get(BASE_URL + str(film['id']) +'?api_key='+ API_KEY).json()
            female = 0 
            male = 0
            non_binary = 0
            not_specified = 0
            for cast in film_top['cast']:
            
                if cast['gender'] == 1:
                    female+=1 
                elif cast['gender'] == 2:
                    male+=1 
                elif cast['gender'] == 3:
                    non_binary+=1 
                else:
                    not_specified += 1
            
            df.loc[len(df)]=[film['title'],male,female,non_binary,not_specified,film_details['budget'],film_details['revenue'],film_details['vote_average'],film_details['vote_count'],film_details['popularity'],film_details['genres'][0]['name'],film_details['runtime']]

In [83]:
df

,Top rated film,Numbers of males,Number of females,Non-binary,Not specified,Budget,Revenue,Vote average,Vote Count,Popularity,Genre,Runtime
0,Dilwale Dulhania Le Jayenge,8,7,0,11,13200000,100000000,8.7,3341,27.074,Comedy,190
1,The Shawshank Redemption,39,2,0,20,25000000,28341469,8.7,20499,72.363,Drama,142
2,The Godfather,43,7,0,8,6000000,245066411,8.7,15319,83.619,Drama,175
3,Gabriel's Inferno Part II,4,5,0,1,0,0,8.6,1371,25.013,Romance,105
4,Schindler's List,61,18,0,60,22000000,321365567,8.6,12234,43.332,Drama,195
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Klaus,15,9,0,5,0,0,8.3,2785,29.981,Animation,96
96,Miracle in Cell No. 7,7,4,0,15,0,19289062,8.3,3815,70.930,Drama,132
97,Apocalypse Now,29,4,0,4,31500000,150000000,8.3,6265,27.541,Drama,147
98,Avengers: Endgame,62,28,0,13,356000000,2797800564,8.3,20067,460.329,Adventure,181
99,My Mom is a Character 3,7,5,0,1,2000000,39273021,8.3,402,7.689,Comedy,111

In [26]:
df.to_csv('top_films_gender.csv', index=False)